<nav style="background-color: gray; padding: 40px; text-align: center;">
    <a href="/" style="padding: 40px;">Home</a>
    <a href="/register"  style="padding: 40px;">Register</a>
    <a href="/receiptcustomer"  style="padding: 40px;">receiptCustomer</a>
    <a href="/receipt"  style="padding: 40px;">ALL Receipt</a>
    <a href="/addProduct"  style="padding: 40px;">Add Product</a>
    <a href="/updateProduct"  style="padding: 40px;">Update Quantity Product</a>
    <a href="/delete"  style="padding: 40px;">Delete Members</a>
</nav>
<h2 style="background-color: red; text-align: center;">If you want to delete your members. Please, report to my Employee</h2>

